<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haffid.myapppoemasgt">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_flag"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_flag"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAppPoemasGT">
        <activity android:name=".MACat3"></activity>
        <activity android:name=".MACat2" />
        <activity android:name=".MACat1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>